body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #192a56;
  --lightPrimary: #273c75;
  --secondary: #c23616;
  --lightSecondary: #e84118;
  --lightText: #f5f6fa;
  --darkText: #2f3640;
}
